body {
    background: rgb(162, 162, 165);
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
  
  #gif-form {
    padding: 1rem 0;
  }
  #gif-search-input {
    font-size: 1.5rem;
  }
  
  #gif-search-button {
    font-size: 1.5rem;
    background: rgb(71, 70, 161);
    color: white;
    border: none;
  }
  
  #gif-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
  
  #gif-container img {
    width: 95%;
    height: 95%;
    border: 3px solid rgb(245, 238, 238);
    border-radius: 2%;
  }
  
  ol {
    list-style-type: none;
  }